html {
	min-height: 100%;
}

body {
	height: 100%;
	
}

html, 

body{
	font-family: 'Fjalla One', sans-serif;
/*	background: url(../images/RCBlogo.jpg);*/
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: fixed;
	font-size: 14px;


}

.nav-wrapper .brand-logo #logo {
    height: 55px;

}

.nav-wrapper > ul > li > a {
	color:black;
}

nav {
	line-height: px;
}

.login, .sign-out {
	display: none;
}

.login-button {
	margin-bottom: 1.5em;
}

#rc-title {
	margin-top: 0.5em;
}

#rc-content h5 {
	margin-top: 0.5em;
	text-align: center;
}

#todays-date {
	text-align: center;
	font-size: 1.5em;
}

#current-time {
	text-align: center;
	margin-bottom: .5em;
	font-size: 1.5em;
}

#countdown {
	text-align: center;
	font-size: 1.5em;
	color: black;
	padding: 1em;
	border: 1px solid black;
	border-radius: 5px;
}

.clock {
	text-align: center;
	padding: .25em;
}

#rc-action {
	clear:both;
	text-align: center;
}

#rc-action a {
	width: 80%;
	margin: 0.5em auto;
}





#location-form {
	position: absolute;
	top: 20%;
	left: 0;
	display: none;
}

#maps {
	margin: auto;
	overflow: auto;
    white-space: nowrap;
    height: 430px;
}

.map {
	height: 400px;
	width: 400px;
	margin: 0 auto;
	display: block;
}

.map-wrapper {
	margin: 1.25em;
}

#modal-plan {
	height: 400px;
}