html {
	min-height: 100%;
}

body {
	height: 100%;
	
}

html, 

body{
	font-family: 'Fjalla One', sans-serif;
/*	background: url(../images/RCBlogo.jpg);*/
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: fixed;
	font-size: 14px;


}

.nav-wrapper {
	position: relative;
}

.nav-wrapper .brand-logo #logo {
    height: 55px;

}

.nav-wrapper > ul > li > a {
	color:black;
}

nav {
	line-height: px;
}

.login, .sign-out {
	display: none;
}

.login-button {
	margin-bottom: 1.5em;
}

#countdown {
	box-sizing: border-box;
	position: absolute;

	right: 40%;
	width: 300px;
	text-align: center;
	color: black;
	border: 2px solid black;
	border-radius: 5px;

}

#location-form {
	position: absolute;
	top: 20%;
	left: 0;
	display: none;
}

#maps {
	margin: auto;
}

.map {
	height: 400px;
	width: 400px;
	margin: 0 auto;
	display: block;
}

.map-wrapper {
	margin: 1em;
}